@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700";
/*
 * @author Joseph Briggs <jbriggsr3@gmail.com>
 *
 * @info FLEX MIXIN CSS, flex-mixin.less,
 *
 */
.container--flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.content--flex-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.content--flex-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.content--center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content--space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.content--space-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.align--flex-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.align--flex-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.align--center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.align--baseline {
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.align--stretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.self--auto {
  -webkit-align-self: auto;
  -moz-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.self--center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.self--flex-start {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.self--flex-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.self--baseline {
  -webkit-align-self: baseline;
  -moz-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
.self--stretch {
  -webkit-align-self: stretch;
  -moz-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.direction--row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.direction--row-reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.direction--column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.direction--column-reverse {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.wrap--nowrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
}
.wrap--wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap--wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #383838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  max-width: 75em;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.legend text {
  font-size: 1.365rem;
  font-weight: 600;
  text-transform: uppercase;
}
.total-legend text {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.container {
  width: 330px;
  height: 330px;
  margin: 0 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.container:first-child {
  margin-left: 0;
}
.container:last-child {
  margin-right: 0;
}
.container .total {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.container .devices {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px solid #C4C4C4;
}
.container .devices > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container .devices > div:last-child {
  text-align: right;
}
.container .devices > div .name {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 700;
}
.container .devices > div .data {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.container .devices > div .data .percentage {
  padding-right: 15px;
}
.container .devices > div .data .total {
  color: #C4C4C4;
}
