.container {
	width: 330px;
	height: 330px;
	margin: 0 50px;
	.container--flex;
	.direction--column;

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	.total {
		.self--center;
	}

	.devices {
		.container--flex;
		.direction--row;
		.content--space-between;
		padding-bottom: 18px;
		border-bottom: 2px solid @gray;


		& > div {
			.container--flex;
			.direction--column;
			.content--space-between;

			&:last-child {
				text-align: right;
			}

			.name {
				text-transform: capitalize;
				font-size: 1rem;
				font-weight: 700;
			}

			.data {
				.container--flex;
				.direction--row;
				.content--space-between;

				.percentage {
					padding-right: 15px;
				}

				.total {
					color: @gray;
				}
			}
		}
	}
}