
body {
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	max-width: 75em;
	margin: 0 auto;

	.container--flex;
	.direction--row;
	.wrap--wrap;
}

